.posts {
  text-align: justify;
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.post {
  text-align: justify;
  margin: 1rem 0;
  a {
    border-left: 1px solid rgba(255, 187, 187, 0.479);
    color: rgb(255, 187, 187);
    display: block;
    padding: 0.1rem 1rem;
    text-decoration: none;

    h3 {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      background-color: black;
    }

    p {
      margin-top: 0;
      color: rgb(255, 251, 251);
      font-size: 0.8rem;
      font-style: italic;
    }
  }
}
.post:hover {
  a {
    border-left: 2px solid rgb(255, 187, 187);
  }
  h3 {
    color: #ff7373;
  }
}
