.link{
    font-weight: bold;
    text-decoration: none;
    color: rgba(252, 242, 225, 0.959);
    // font-weight: 0.8rem;
    font-size: 0.9rem;
    font-style: italic;
}

.link:hover{
    color:rgb(175, 255, 238);
}