@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');


.link {
    color:#999999;
    text-decoration: none;
}

.heading{
    font-size: 1.1rem;
    margin: 0 2rem;
    margin-bottom:0;
}
 
.heading h1{
    background: -webkit-linear-gradient(
        60deg,
        rgb(255, 255, 255),
        rgba(161, 255, 235, 0.705)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding:0;
    text-align: center;
    margin-bottom:0.5rem;
    font-family:"raleway","sans-serif";
    @media screen and (max-width: 800px) {
    }
}
