// @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

.container{
    margin:0 10%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    min-height: 95vh;
}
.content{
    flex-grow: 1;
    // font-family: "raleway","sans-serif";
    font-family:'Courier New', Courier, monospace;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    p{
        color:rgba(71, 71, 71, 0.904);
    }

    h1{
        color:rgb(48, 48, 48);
    }

    h4{
        color:rgb(78, 78, 78);
    }
}
