.navbar {
  margin: 0;
  &:active {
    color: #ff9898;
  }
}

.navbar ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.navItem a {
  font-size: 1.1em;
  padding: 0 2vw;
  text-decoration: none;
  flex: 1 1 0;
  color: #ffefc4e0;
  text-decoration: none;
}

.navItem a:hover {
  font-size: 1.15em;
  color: #ffc7a6;
}

@media only screen and (max-width: 800px) {
  .navbar ul {
    flex-direction: column;
  }
  .navbar li {
    padding: 0.5% 0;
  }
}
